x-common: 
  deunhealth:
    &deunhealth
    labels:
      - "deunhealth.restart.on.unhealthy=true"
  default:
    &default
    environment:
      - PUID=${PUID}
      - PGID=${GUID}
      - UMASK=${UMASK}
      - TZ=${TZ}
    restart: unless-stopped
  database:
    &db-environment
    MYSQL_PASSWORD: &db-password ${MYSQL_PASSWORD} # Do not remove the "&db-password", it is important for Panel functionality.
    MYSQL_RANDOM_ROOT_PASSWORD: ${MYSQL_RANDOM_ROOT_PASSWORD}
  panel:
    &panel-environment
    APP_URL: "https://game.${IP_DOMAIN}"
    APP_TIMEZONE: "${TZ}"
    APP_SERVICE_AUTHOR: "admin@example.com"
  mail:
    &mail-environment
    MAIL_FROM: "noreply@example.com"
    MAIL_DRIVER: "smtp"
    MAIL_HOST: "mail"
    MAIL_PORT: "1025"
    MAIL_USERNAME: ""
    MAIL_PASSWORD: ""
    MAIL_ENCRYPTION: "true"

#
# ------------------------------------------------------------------------------------------
# DANGER ZONE BELOW
#
# The remainder of this file likely does not need to be changed. Please only make modifications
# below if you understand what you are doing.
#

services:

  database:
    <<: [*default, *deunhealth]
    container_name: database
    image: library/mysql:8.0
    restart: always
    networks:
      - local
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - "${CONFIG_PTERODACTYL_PATH}/database:/var/lib/mysql"
    environment:
      <<: *db-environment
      MYSQL_DATABASE: "panel"
      MYSQL_USER: "pterodactyl"

  cache:
    <<: [*default, *deunhealth]
    container_name: cache
    image: redis:alpine
    restart: always
    networks:
      - local

  panel:
    <<: [*default, *deunhealth]
    container_name: panel
    image: ghcr.io/pterodactyl/panel:v1.11.10
    restart: always
    networks:
      - pterodactyl
      - local
    links:
      - database
      - cache
    volumes:
      - "${CONFIG_PTERODACTYL_PATH}/panel/var/:/app/var/"
      - "${CONFIG_PTERODACTYL_PATH}/panel/logs/:/app/storage/logs"
      - "${CONFIG_PTERODACTYL_PATH}/panel/nginx/:/etc/nginx/conf.d/"
    environment:
      <<: [*panel-environment, *mail-environment]
      DB_PASSWORD: *db-password
      APP_ENV: "production"
      APP_ENVIRONMENT_ONLY: "false"
      CACHE_DRIVER: "redis"
      SESSION_DRIVER: "redis"
      QUEUE_DRIVER: "redis"
      REDIS_HOST: "cache"
      DB_HOST: "database"
      TRUSTED_PROXIES: "*"
    ports:
      - "80:80"
      - "443:443"

networks:
  local:
    external: false
  pterodactyl:
    external: true
  default:
    ipam:
      config:
        - subnet: 172.20.0.0/16