[submodule "config-web/mediawiki/extensions/ReplaceText"]
	path = config-web/mediawiki/extensions/ReplaceText
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ReplaceText
[submodule "config-web/mediawiki/extensions/VisualEditor"]
	path = config-web/mediawiki/extensions/VisualEditor
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/VisualEditor
[submodule "config-web/mediawiki/extensions/WikiEditor"]
	path = config-web/mediawiki/extensions/WikiEditor
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/WikiEditor
[submodule "config-web/mediawiki/extensions/MobileFrontend"]
	path = config-web/mediawiki/extensions/MobileFrontend
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/MobileFrontend
[submodule "config-web/mediawiki/skins/Citizen"]
	path = config-web/mediawiki/skins/Citizen
	url = https://github.com/StarCitizenTools/mediawiki-skins-Citizen/
