/.Trash-1000/
/.temp/
/config-media/plex/**
/config-media/tautulli/**
/config-media/kometa/**
!/config-media/kometa/assets
!/config-media/kometa/assets/.blank
!/config-media/kometa/collections
!/config-media/kometa/collections/**
!/config-media/kometa/playlists
!/config-media/kometa/playlists/**
!/config-media/kometa/posters
!/config-media/kometa/posters/**
!/config-media/kometa/config.yml
/config-media/tdarr/**
/config-media/radarr/**
/config-media/sonarr/**
/config-media/bazarr/**
/config-media/prowlarr/**
/config-media/flaresolverr/**
/config-media/recyclarr/**
!/config-media/recyclarr/recyclarr.yml
/config-media/gluetun/**
/config-media/sabnzbd/**
/config-media/qbittorrent/**
/config-web/homepage/**
!/config-web/homepage/bookmarks.yaml
!/config-web/homepage/custom.css
!/config-web/homepage/services.yaml
!/config-web/homepage/settings.yaml
!/config-web/homepage/widgets.yaml
/config-web/vaultwarden/**
/config-web/nextcloud/**
/config-web/mealie/**
/config-web/sillytavern/**
/config-web/mediawiki/**
!/config-web/mediawiki/LocalSettings.php.bk
!/config-web/mediawiki/images/
!/config-web/mediawiki/images/**
!/config-web/mediawiki/extensions/
!/config-web/mediawiki/extensions/**
!/config-web/mediawiki/skins/
!/config-web/mediawiki/skins/**
/config-web/audiobookshelf/**
/config-util/deunhealth/**
/config-util/watchtower/**