/.Trash-1000
/config/audiobookshelf
/config/flaresolver
/config/gluetun
/config/jellyseer
/config/kometa/logs
/config/kometa/config.cache*
/config/kometa/UUID
/config/mealie
/config/nextcloud
/config/nginx
/config/plex
/config/qbittorrent
/config/radarr
/config/sillytavern
/config/vaultwarden