<Config>
    <BindAddress>*</BindAddress>
    <Port>32509</Port>
    <EnableSsl>False</EnableSsl>
    <LaunchBrowser>True</LaunchBrowser>
    <Branch>main</Branch>
    <LogLevel>debug</LogLevel>
    <UrlBase>/dl/music</UrlBase>
    <InstanceName>Lidarr</InstanceName>
    <UpdateMechanism>Docker</UpdateMechanism>
</Config>