version: "3.8"

x-common-config: &default-service
    environment:
      - PUID=${PUID}
      - PGID=${GUID}
      - UMASK=${UMASK}
      - TZ=${TZ}
    volumes:
      - ${DOCKER_SOCK}:${DOCKER_SOCK}
    restart: always
      
services:

  deunhealth:
    <<: *default-service
    image: qmcgaw/deunhealth:latest
    container_name: deunhealth
    build: .
    environment:
      - TZ=${TZ}
      - HEALTH_SERVER_ADDRESS=127.0.0.1:9999
      - LOG_LEVEL=info

  watchtower:
    <<: *default-service
    image: containrrr/watchtower:latest
    container_name: watchtower
    command: --cleanup=true --include-restarting=true --include-stopped=true --interval=86400