x-common-config: &default-service
    environment:
      - PUID=${PUID}
      - PGID=${GUID}
      - UMASK=${UMASK}
      - TZ=${TZ}
    volumes:
      - ${DOCKER_SOCK}:${DOCKER_SOCK}
    restart: always
      
services:

  deunhealth:
    <<: *default-service
    image: qmcgaw/deunhealth:latest
    container_name: deunhealth
    build: .
    environment:
      - TZ=${TZ}
      - HEALTH_SERVER_ADDRESS=127.0.0.1:9999
      - LOG_LEVEL=info

  watchtower:
    <<: *default-service
    image: nickfedor/watchtower:latest
    container_name: watchtower
    command: --cleanup=true --include-restarting=true --include-stopped=true --interval=86400

  nginx-pm:
    <<: *default-service
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx-pm
    ports:
      - ${PORT_NGINX_IO}:80
      - ${PORT_NGINX_HTTP}:81
      - ${PORT_NGINX_HTTPS}:443
    volumes: 
      - ${CONFIG_UTIL_PATH}/nginx/data:/data
      - ${CONFIG_UTIL_PATH}/nginx/ssl:/etc/letsencrypt