x-common: 
  deunhealth:
    &deunhealth
    labels:
      - "deunhealth.restart.on.unhealthy=true"
  default:
    &default
    environment:
      - PUID=${PUID}
      - PGID=${GUID}
      - UMASK=${UMASK}
      - TZ=${TZ}
    volumes:
      - ${DOCKER_SOCK}:${DOCKER_SOCK}
    restart: always
      
services:

  deunhealth:
    <<: *default
    image: qmcgaw/deunhealth:latest
    container_name: deunhealth
    build: .
    environment:
      - TZ=${TZ}
      - HEALTH_SERVER_ADDRESS=127.0.0.1:9999
      - LOG_LEVEL=info

  watchtower:
    <<: [*default, *deunhealth]
    image: nickfedor/watchtower:latest
    container_name: watchtower
    command: --cleanup=true --include-restarting=true --include-stopped=true --interval=86400