<Config>
    <BindAddress>*</BindAddress>
    <Port>32502</Port>
    <EnableSsl>False</EnableSsl>
    <LaunchBrowser>True</LaunchBrowser>
    <AuthenticationMethod>Forms</AuthenticationMethod>
    <AuthenticationRequired>Enabled</AuthenticationRequired>
    <Branch>main</Branch>
    <LogLevel>debug</LogLevel>
    <UrlBase>/dl/tv</UrlBase>
    <InstanceName>Sonarr</InstanceName>
    <UpdateMechanism>Docker</UpdateMechanism>
</Config>