<Config>
    <BindAddress>*</BindAddress>
    <Port>32505</Port>
    <EnableSsl>False</EnableSsl>
    <LaunchBrowser>True</LaunchBrowser>
    <Branch>main</Branch>
    <LogLevel>debug</LogLevel>
    <UrlBase>/dl</UrlBase>
    <InstanceName>Radarr</InstanceName>
    <UpdateMechanism>Docker</UpdateMechanism>
</Config>