x-common-config: &default-service
    labels:
      - "deunhealth.restart.on.unhealthy=true"
    environment:
      - PUID=${PUID}
      - PGID=${GUID}
      - UMASK=${UMASK}
      - TZ=${TZ}
      - TP_THEME=${THEME}
      - TP_COMMUNITY_THEME=${THEME_COMMUNITY}
    restart: unless-stopped
      
services:

  plex:
    <<: *default-service
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - VERSION=docker
      - DOCKER_MODS=${PARK}:plex
    volumes:
      - ${CONFIG_MEDIA_PATH}/plex:/config/Library/Application Support/Plex Media Server
      - ${MEDIA_SHARE}:/share
      - /tmp/plex_cache:/transcode
    ports:
      - ${PORT_PLEX}:32400
    devices:
      - /dev/dri:/dev/dri #Required for plex HW transcoding / QuickSync

  tautulli:
    <<: *default-service
    image: lscr.io/linuxserver/tautulli:latest
    container_name: tautulli
    depends_on:
      - plex
    environment:
      - VERSION=docker
      - DOCKER_MODS=${PARK}:tautulli
    volumes:
      - ${CONFIG_MEDIA_PATH}/tautulli:/config
    ports:
      - ${PORT_TAUTULLI}:8181

  kometa:
    <<: *default-service
    image: kometateam/kometa:latest
    container_name: kometa
    environment:
      - KOMETA_TIME=00:00,06:00,12:00,18:00
      - KOMETA_CONFIG=/config/config.yml
      - KOMETA_RUN=True
    volumes:
      - ${CONFIG_MEDIA_PATH}/kometa:/config
    logging:
      driver: "json-file"
      options:
        max-file: "1"
        max-size: "10m"

  tdarr:
    <<: *default-service
    container_name: tdarr
    image: ghcr.io/haveagitgat/tdarr:latest
    ports:
      - ${PORT_TDARR_UI}:8265
      - ${PORT_TDARR}:8266
    environment:
      - UMASK_SET=${UMASK}
      - nodeName=ServerNode
      - serverIP=0.0.0.0
      - serverPort=8266
      - webUIPort=8265
      - internalNode=true
      - inContainer=true
      - ffmpegVersion=6
    volumes:
      - ${CONFIG_MEDIA_PATH}/tdarr/server:/app/server
      - ${CONFIG_MEDIA_PATH}/tdarr/configs:/app/configs
      - ${CONFIG_MEDIA_PATH}/tdarr/logs:/app/logs
      - ${MEDIA_SHARE}:/media
      - /tmp/tdarr_cache:/temp
    devices:
    - /dev/dri:/dev/dri #Required for HW transcoding / QuickSync
    profiles:
      - disabled

  ## Meta Managers ##

  radarr:
    <<: *default-service
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    depends_on:
      - prowlarr
    environment:
      - DOCKER_MODS=${PARK}:radarr
    volumes:
      - ${CONFIG_MEDIA_PATH}/radarr:/config
      - ${MEDIA_SHARE}:/share
      - ${CONFIG_MEDIA_PATH}/posterizarr:/posterizarr:rw
    ports:
      - ${PORT_RADARR}:7878

  sonarr:
    <<: *default-service
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    depends_on:
      - prowlarr
    environment:
      - DOCKER_MODS=${PARK}:sonarr
    volumes:
      - ${CONFIG_MEDIA_PATH}/sonarr:/config
      - ${MEDIA_SHARE}:/share
      - ${CONFIG_MEDIA_PATH}/posterizarr:/posterizarr:rw
    ports:
      - ${PORT_SONARR}:8989

  bazarr:
    <<: *default-service
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    restart: unless-stopped
    volumes:
      - ${CONFIG_MEDIA_PATH}/bazarr:/config
      - ${MEDIA_SHARE}:/share
    ports:
      - ${PORT_BAZARR}:6767

  prowlarr:
    <<: *default-service
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    depends_on:
      - flaresolverr
    environment:
      - DOCKER_MODS=${PARK}:prowlarr
    volumes:
      - ${CONFIG_MEDIA_PATH}/prowlarr:/config
    ports:
      - ${PORT_PROWLARR}:9696

  flaresolverr:
    <<: *default-service
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=info
      - LOG_HTML=false
      - CAPTCHA_SOLVER=none
    volumes:
      - ${CONFIG_MEDIA_PATH}/flaresolverr:/config
    ports:
      - ${PORT_FLARESOLVERR}:8191

  recyclarr:
    <<: *default-service
    image: ghcr.io/recyclarr/recyclarr
    container_name: recyclarr
    user: ${PUID}:${GUID}
    volumes:
      - ${CONFIG_MEDIA_PATH}/recyclarr:/config


  ## Download Clients ##

  gluetun: 
    <<: *default-service
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=${GLUETUN_PROVIDER}
      - VPN_TYPE=${GLUETUN_TYPE}
      - WIREGUARD_PRIVATE_KEY=${GLUETUN_KEY}
      - BLOCK_MALICIOUS=off
    volumes:
      - ${CONFIG_MEDIA_PATH}/gluetun:/gluetun
    ports:
      - ${PORT_SABNZBD}:8085
      - ${PORT_QBITTORRENT_UI}:8090
      - ${PORT_QBITTORRENT_IO}:8091
    restart: always

  qbittorrent:
    <<: *default-service
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: 'service:gluetun'
    environment:
      - WEBUI_PORT=8090
      - TORRENTING_PORT=8091
    volumes:
      - ${CONFIG_MEDIA_PATH}/qbittorrent:/config
      - ${MEDIA_SHARE}/downloads/torrent:/share/downloads/torrent
      - ${MEDIA_SHARE}/downloads/torrent/incomplete:/share/downloads/torrent/incomplete

  sabnzbd:
    <<: *default-service
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    network_mode: 'service:gluetun'
    environment:
      - DOCKER_MODS=${PARK}:sabnzbd
    volumes:
      - ${CONFIG_MEDIA_PATH}/sabnzbd:/config
      - ${MEDIA_SHARE}/downloads/usenet:/share/downloads/usenet
      - ${MEDIA_SHARE}/downloads/usenet/incomplete:/share/downloads/usenet/incomplete